.header {
    padding: 154px 0 100px;
  }
  
  @media (min-width: 992px) {
    .header {
      padding: 156px 0 100px;
    }
  }
  
  .section {
    padding: 150px 0;
  }


  .rodapeCreditos{
    padding: 10px;
  }

  .formLogin {
    padding: 5px;
    width: 200px;
    background: white;
    height: 140px;
    float: right;
    position: fixed;
    top: 50px;
    right: 10px;
  }
  